<div class="main-content">
  <div class="main-menu">
    <h1>Welcome to Blind Tiger</h1>
  </div>

  <hr>

  <div class="button-container">
    <button class="btn btn-default">New Game</button>
    <button class="btn btn-default">Join Game</button>
  </div>
</div>
