<div class='main-content'>
  <div class='main-menu'>
    <h1>Blind Tiger</h1>
  </div>

  <hr>

  <div class='button-container'>
    <%= button_to 'New Game', new_room_path, method: 'get', class: 'btn btn-simple' %>
    <%= button_to 'Join Game', edit_room_path, method: 'get', class: 'btn btn-simple' %>
  </div>
</div>
