Waiting For Players...
Access Code: <%= @room.token %>
<hr>

<%- @players.each_with_index do |name, index| %>
  <%= name %>
<% end %>

<hr>

<div class='button-container'>
  <%= button_to 'Start Game', game_path, method: 'post', class: 'btn btn-simple' %>
  <%= button_to 'Leave Game', static_home_path, method: 'get', class: 'btn btn-simple' %>
</div>
