body
  background-color: #000
  color: #fff
  text-align: center

.container
  position: relative
  width: 80%
  max-width: 960px
  margin: 0 auto
  padding: 0

.main-content
  margin: 25% auto 0 auto
  max-width: 500px

hr
  margin-top: 3rem
  margin-bottom: 3.5rem
  border-width: 0
  border-top: 1px solid #E1E1E1

.button-container
  display: inline-flex

.btn
  margin: 0 5px
  font-size: 3rem
  display: inline-block
  background-color: transparent
  border-radius: 4px
  color: #555
  text-align: center
  font-size: 11px
  font-weight: 600
  text-decoration: none
  cursor: pointer
  border: 1px solid #bbb
  height: 38px
  line-height: 38px
  padding: 0 30px
  letter-spacing: .1rem
  text-transform: uppercase
  white-space: nowrap
  box-sizing: border-box

.btn-simple
  color: #fff
  border-color: #ccc
  padding: 0 30px
  line-height: 38px
  &:hover
    border-color: #fff
    color: #fff
    background-color: #000

.form-control
  background-color: #000
  color: #fff
  border-color: #ccc

.input-form-container
  display: inline-block
  width: 100%
  max-width: 280px

.mbl
  margin-bottom: 25px


/* Larger than mobile */
@media (min-width: 400px)

/* Larger than tablet */
@media (min-width: 750px)

/* Larger than desktop */
@media (min-width: 1000px)

/* Larger than Desktop HD */
@media (min-width: 1200px)
